body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: black;
    color: white;
    padding-bottom: 1rem;
    font-size: 1rem;
}

footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: black;
    color: white;
    font-size: 1rem;
}

.heading {
    flex: 1;
    padding-left: 1rem;
    max-width: 75%;
    padding-right: 2rem;
    padding-top: 1.5rem;
}

.summary {
    line-height: 1.5rem;
}

.personal-info {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-right: 2rem;
}

p {
    margin: 0;
    padding-bottom: 0.2rem;
}

.personal-heading {
    padding-bottom: 0.6rem;
}

.name,
.personal-heading,
.field {
    text-transform: uppercase;
}

.name {
    font-size: 3rem;
}

.value {
    border-left: 0.1rem solid rgb(199, 81, 36);
    padding-left: 0.5rem;
    display: inline;
    padding-top: 0.1rem;
}

.personal-heading,
.footer-heading {
    font-size: 1rem;
    color: rgb(199, 81, 36);
}

.footer-heading {
    display: block;
    text-align: center;
}

.icons {
    color: rgb(199, 81, 36);
    font-size: 1rem;
    padding-top: 0.55rem;
}

.personal-info-icons {
    display: flex;
    flex-direction: column;
    padding-top: 52px;
    padding-right: 8px;
}

.phone-number {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.prof-pic {
    padding-left: 0.5rem;
    padding-top: 1rem;
    width: 10rem;
    height: 10rem;
}

.personal-details {
    display: flex;
}

.header-follow {
    display: none;
}

.body {
    display: flex;
    flex-direction: row;
}

.column-one, .column-two {
    width: 50%;
    margin-top: 12px;
    padding-left: 2.2rem;
    margin-bottom: 1rem;
}

.contents-body {
    border-left: 2px solid rgb(199, 81, 36);
    padding-left: 3.2rem;
    padding-bottom: 0.5rem;
    margin-left: 0.8rem;
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}


.column-two {
    padding-left: 3rem;
    padding-right: 2.2rem;
}

.body-icons {
    font-size: 1.8rem;
    padding-right: 2.2rem;
}

.footer-icons {
    font-size: 1.8rem;
    padding-right: 0.5rem;
}

.sub-heading {
    font-size: 1.5rem;
    text-transform: uppercase;
    vertical-align: super;
    padding-bottom: 14px;
}
.vl {
    border-left: 2px solid rgb(199, 81, 36);
    margin-left: 0.8rem;
}

.bullet-box {
    width: 0.8rem;
    height: 0.8rem;
    border: 1px solid rgb(199, 81, 36);
    margin-top: 0.6rem;
    margin-left: 6.8px;
    margin-bottom: 0.6rem;
    display: inline-flex;
    margin-right: 2.6rem;
}

.experience,
.education,
.internship,
.skills,
.highlights,
.qualities {
    display: flex;
    flex-direction: column;
}

.content-heading {
    color: rgb(199, 81, 36);
    text-transform: uppercase;
}

.contents {
    padding-top: 7px;
    text-align: justify;
}

.highlight {
    font-weight: bold;
    display: inline;
}

.duration {
    padding-left: 4rem;
    color: rgb(199, 81, 36);
}

.skill > span {
    height: 10px;
    display: flex;
    width: 250px;
    padding-top: 4px;
}

.skill {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    justify-content: space-between;
    padding-bottom: 2px;
}

.skill-set {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
}
.bar.active {
    background-color: rgb(199, 81, 36);
    border-radius: 50px 0 0 50px;
}

.bar.inactive {
    background-color: rgb(231, 210, 203);
    border-radius: 0 50px 50px 0;
}

.tool-set {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    flex-wrap: wrap;
}

.tools {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.circle{
    position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: white;
}

.active-border {
    position: relative;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: rgb(231, 210, 203);
}

.active-border-324 {
    background-image:
        linear-gradient(200deg, transparent 50%, rgb(199, 81, 36) 50%),
        linear-gradient(150deg, rgb(199, 81, 36) 50%, transparent 50%);
}

.active-border-252 {
    background-image:
        linear-gradient(252deg, transparent 50%, rgb(199, 81, 36) 50%),
        linear-gradient(90deg, rgb(199, 81, 36) 50%, transparent 50%);
}

.active-border-295 {
    background-image:
        linear-gradient(200deg, transparent 50%, rgb(199, 81, 36) 50%),
        linear-gradient(100deg, rgb(199, 81, 36) 50%, transparent 50%);
}

.follow {
    margin-top: 2rem;
    margin-left: 8rem;
    margin-bottom: 2rem;
}
